<div class="checklist">
  <h3 class="ms-3">Here's a handy checklist to ensure a smooth import:</h3>
  <ul>
    <li>
      <span>Employee Id</span>, <span>Customer Name</span>,
      <span>Currency Code</span>, are mandatory fields.
    </li>
    <li>
      The first row of your file must contain the field names (e.g., Employee
      Id, Customer Name, Currency Code, Amount, etc.).
    </li>
    <li>
      Please ensure that all customers listed in the Excel file already exist in
      the system. To ensure a smooth submission, add any missing customers
      before proceeding with the import.
    </li>
    <li>
      Maximum allowed row limits per import are 5000 rows for .xls, .xlsx, or
      .vcf and 10,000 rows for files.
    </li>
    <li>Your file's size should not exceed 10MB.</li>
  </ul>
</div>
