
.checklist h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Poppins';
}

.checklist ul li {
  // margin-bottom: 10px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 2;
}

.checklist ul li span {
  font-weight: bold;
  color: rgb(165, 165, 165);
}

.checklist a {
  color: #1a73e8;
  text-decoration: none;
  font-size: 14px;
}

.checklist a:hover {
  text-decoration: underline;
}

.checklist {
  max-height:  calc(100vh - 13rem);
  overflow-y: auto; /* Enables scrolling when content exceeds max-height */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.checklist::-webkit-scrollbar {
  width: 0; /* Hide scrollbar */
  display: none;
}

/* For Firefox */
.checklist {
  scrollbar-width: none;
}

