.table-footer {
  font-size: 14px;
  z-index: 1 !important;
}

.table-footer .row {
  position: absolute;
  width: 60%;
  top: -40px;
  left: 20px;
  z-index: 2;
}

.ag-root-wrapper {
  border: var(--ag-wrapper-border);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.loader-container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-icons {
  display: flex !important;
}

.ag-cell .icon-container {
  display: block;
  width: 20px;
  height: 20px;
}

/* Hide icons by default */

.ag-theme-alpine .hover-effect-cell .action-icons {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* Show icons when hovering over the row */

.ag-theme-alpine .ag-row:hover .hover-effect-cell .action-icons {
  color: red;
}

.dropdown-menu {
  border: 1px solid #ccc;
  max-height: 265px;
  max-width: 220px;
  overflow-y: auto;
}

// for Manage Columns start
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 12px;
  margin-bottom: 0;
  background-color: white;
  transition: background-color 0.2s ease;
  width: 100%;
  cursor: pointer;
}

.checkbox-container.unchecked:hover {
  background-color: rgb(244, 249, 255) !important;
}

.checkbox-container.checked {
  background-color: rgb(234, 244, 255); 
  color: #000;
}

.checkbox-container input {
  cursor: pointer;
}

.checkbox-container label {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
  margin: 0;
  font-weight: 400;
  padding: 4px 0;
  letter-spacing: 0.6px;
  cursor: pointer;
}

// for Manage Columns end


.btn-info-dark {
  background-color: #2e3b64 !important;
  outline: #2e3b64 !important;
  border: #2e3b64;
}

.salary-list app-side-drawer .drawer {
  position: absolute;
  z-index: 999 !important;
  width: calc(100% - 25%) !important;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

.salary-list app-side-drawer .drawer .mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1344px) {
  .table-footer .row {
    position: absolute;
    width: 100%;
    top: -40px;
    left: 20px;
    z-index: 2;
  }
}
