header {
  width: 100%;
  background-color: #2e3b64 !important;
}
header i {
  font-size: 16px;
  color: white !important;
}
header input {
  border: none;
}
header input::placeholder {
  color: white;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

.icon-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.notification-dot {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  border: 2px solid white;
}

// setting
.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  padding: 10px 0;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
.no-arrow::after {
  display: none !important;
}

.profile-info{
  width: 190px;
  height: 150px;
}

.profile-info h6{
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}