.column-selector {
  position: relative;
  display: inline-block;
}


.dropdown-menu{
  border: 1px solid #ccc;
  max-height: 265px;
  max-width: 220px;
  overflow-y: auto;
}

// for Manage Columns start
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 12px;
  margin-bottom: 0;
  background-color: white;
  transition: background-color 0.2s ease;
  width: 100%;
  cursor: pointer;
}

.checkbox-container.unchecked:hover {
  background-color: rgb(244, 249, 255) !important;
}

.checkbox-container.checked {
  background-color: rgb(234, 244, 255); 
  color: #000;
}

.checkbox-container input {
  cursor: pointer;
}

.checkbox-container label {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
  margin: 0;
  font-weight: 400;
  padding: 4px 0;
  letter-spacing: 0.6px;
  cursor: pointer;
}

// for Manage Columns end

.ag-paging-panel {
  position: relative !important;
  z-index: 9 !important;
}

.ag-root-wrapper {
  border: var(--ag-wrapper-border);
  border-radius: 0 !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.loader-container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-info-dark {
  background-color: #2e3b64 !important;
  outline: #2e3b64 !important;
  border: #2e3b64;
}

.table-footer {
  font-size: 14px;
  z-index: 1 !important;
  width: calc(100% - 20%);
}

.table-footer .row {
  position: absolute;
  width: 80%; 
  top: -40px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
}


@media (max-width: 1544px) {
  .table-footer {
    font-size: 14px;
    z-index: 1 !important;
    width: 100%;
  }
  
  .table-footer .row {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 10px;
    z-index: 2;
   
  }
}


/* For smaller screens */
@media (max-width: 1212px) {
  .table-footer .row  {
    min-width: 125%;
  }}
  
  @media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 20%;
    }
}