<div class="main-content mt-2 p-2">
  <app-page-header [HeadingName]="HeadingName">
    <div pageHeaderBtn class="d-flex">
        <button class="btn btn-info-dark btn-wave mx-2 text-white text-capitalize" (click)="employeeAdd()" routerLink="add">
        <i class="fa-solid fa-plus me-2"></i>Create
      </button>
      <div class="dropdown">
        <button class="btn btn-info-dark text-white btn-wave dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Manage Column
        </button>

        <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
          @for (column of allColumns; track column) {
          <li>
            @if (
            column.headerName == "S. No" ||
            column.field == "employeeID" ||
            column.field == "firstName"
            ) {
            <div class="dropdown-item d-none checkbox-container">
              <input type="checkbox" (change)="toggleColumn(column)" [checked]="isColumnDisplayed(column)" disabled id="{{ column.field }}" />
              <label for="{{ column.field }}">{{ column.headerName }}</label>
            </div>
            } @else {
            <div class="dropdown-item checkbox-container pt-1 px-3" [ngClass]="{
              'checked': isColumnDisplayed(column),
              'unchecked': !isColumnDisplayed(column)
            }" (click)="preventClose($event)">
              <input type="checkbox" [checked]="isColumnDisplayed(column)" (change)="toggleColumn(column)"
                id="{{ column.field }}" />
              <label for="{{ column.field }}">{{ column.headerName }}</label>
            </div>
            }
          </li>
          }
        </ul>
      </div>
    </div>
  </app-page-header>
  @defer {
  <div class="d-flex align-items-center justify-content-center">
    <div class="container-fluid p-0">
      <ag-grid-angular #agGrid style="width: 100%; height: calc(100vh - 12rem)!important; padding-bottom: 10px"
        class="ag-theme-alpine" [rowData]="rowData" [columnDefs]="columnDefs" (cellClicked)="updateCustomer($event)" (rowClicked)="onRowClick($event)"
        [defaultColDef]="defaultColDef" [animateRows]="true" [paginationPageSize]="15" [pagination]="true"
        [paginationPageSizeSelector]="paginationPageSizeSelector" (gridReady)="onGridReady($event)" 
        (paginationChanged)="onPaginationChanged($event)" [suppressDragLeaveHidesColumns]="true"></ag-grid-angular>
      <div class="table-footer position-relative responsive-font">
        <div class="row g-1">
          <div class="col-6 col-sm-3 col-md-2 fw-bold">
            <label>Total Employees:</label>
            <span class="text-bold ms-1">{{ totalCount }}</span>
          </div>
          <div class="col-6 col-sm-3 col-md-2 fw-bold text-success">
            <label>Active:</label>
            <span class="text-bold ms-1">{{ activeEmployees }}</span>
          </div>
          <div class="col-6 col-sm-3 col-md-2 fw-bold text-danger">
            <label>Terminated:</label>
            <span class="text-bold ms-1">{{ terminatedEmployees }}</span>
          </div>
          <div class="col-6 col-sm-3 col-md-2 fw-bold text-danger">
            <label>Resigned:</label>
            <span class="text-bold ms-1">{{ resignedEmployees }}</span>
          </div>
          <div class="col-6 col-sm-3 col-md-2 fw-bold text-danger">
            <label>Absconded:</label>
            <span class="text-bold ms-1">{{ abscondedEmployees }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @loading (minimum 1000ms) {
  <app-loader></app-loader>
  }
  @if (isSideDrawerOpen) {
  <app-side-drawer (sideDrawer)="sideDrawer()" [isSideDrawerOpen]="isSideDrawerOpen">
    <span class="me-4 pt-2" employeeDetailPage><button class="me-4" mat-button color="primary"
        (click)="navigateToDetails(employeeId)">
        <i class="fa-solid fa-arrow-up-right-from-square"></i></button></span>
    <app-employee-side-drawer></app-employee-side-drawer>
  </app-side-drawer>
  }
</div>