<div class="salary-create m-4">
  <div class="border-bottom bg-light pb-2">
    <h2 class="formHeading">{{ formHeading }} Salary</h2>
  </div>
  <div class="form-container d-flex justify-content-center">
    <form [formGroup]="salaryForm">
      <div class="input-form-container py-3">
        <div class="form-group row">
          <mat-label class="outer-mat-lable col-4 pt-2">Select Customer</mat-label>
          <mat-form-field appearance="outline" class="col-8">
            <input matInput #input [matAutocomplete]="auto" formControlName="customerName" (input)="filter()"
              (click)="toggleAutocomplete()" />
            <mat-icon matSuffix (click)="toggleAutocomplete()">arrow_drop_down</mat-icon>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectCustomer($event)">
              @for (customer of filteredCustomers; track customer) {
              <mat-option [value]="customer.customerName">
                {{ customer.customerName }}
              </mat-option>
              }
            </mat-autocomplete>
            @if (salaryForm.controls["customerName"].hasError("required")) {
            <mat-error>Customer Name is required</mat-error>
            }
          </mat-form-field>
        </div>
        <!-- <div class="form-group row">
          <mat-label class="outer-mat-lable col-4 ">Select Customer</mat-label>
          <mat-form-field appearance="outline" class="col-8">
            <input #input type="text" placeholder="Select customer" matInput formControlName="customerName"
              [matAutocomplete]="auto" (input)="filter()" />
            <mat-icon matSuffix (click)="input.focus()">arrow_drop_down</mat-icon>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectCustomer($event)">
              @for (customer of filteredCustomers; track customer) {
              <mat-option [value]="customer.customerName">
                {{ customer.customerName }}
              </mat-option>
              }
            </mat-autocomplete>
            @if (salaryForm.controls["customerName"].hasError("required")) {
            <mat-error>Customer Name is required</mat-error>
            }
          </mat-form-field>
        </div> -->
        <div class="form-group row">
          <mat-label class="outer-mat-lable col-4  ">Select Currency</mat-label>
          <mat-form-field appearance="outline" class="col-8">
            <mat-select formControlName="currencyId">
              @for (currency of allCurrencies; track currency) {
              <mat-option [value]="currency.currencyId">{{
                currency.currencyName
                }}</mat-option>
              }
            </mat-select>
            @if (salaryForm.controls["currencyId"].hasError("required")) {
            <mat-error>Currency is required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="form-group row">
          <mat-label class="outer-mat-lable col-4  ">Employee ID </mat-label>
          <mat-form-field appearance="outline" class="col-8">
            <input formControlName="employeeID" matInput placeholder="eg. ZM-0000" />
            @if (salaryForm.controls["employeeID"].hasError("required")) {
            <mat-error>Employee is required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="form-group row">
          <mat-label class="outer-mat-lable col-4  ">Month & Year
          </mat-label>
          <mat-form-field appearance="outline" class="col-8">
            <mat-label>Month and Year</mat-label>
            <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date" />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
              (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
            </mat-datepicker>
            @if (salaryForm.controls["dateOfPayment"].hasError("required")) {
            <mat-error>Date Of Payment is required!</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="form-group row">
          <mat-label class="outer-mat-lable col-4 ">Amount</mat-label>
          <mat-form-field appearance="outline" class="col-8">
            <input matInput placeholder="Amount" formControlName="amount" [value]="formattedAmount"
              (input)="onAmountChange($event)" />
            <mat-error>
              @if (salaryForm.controls["amount"].hasError("required")) {
              <span>Amount is required.</span>
              }
              @if (salaryForm.controls["amount"].hasError("pattern")) {
              <span>Only numbers are allowed.</span>
              }
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-btn d-flex align-items-start justify-content-end p-4">
        <button class="btn btn-secondary mx-2" type="button" (click)="resetForm()">
          Clear
        </button>
        <button class="btn btn-info-dark text-white" (click)="createUpdate()">
          {{ formHeading }}
        </button>
      </div>
    </form>
  </div>
</div>