.salary-table {
  border-radius: 8px;
}
.table-container {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  max-height: 70vh;
}
.ag-theme-alpine {
  width: 100% !important;
  height: 50vh !important;
}
