<div class="main-content mt-2 p-2">
  <app-page-header [HeadingName]="HeadingName">
    <div class="d-flex" pageHeaderBtn>
      @if(this.InvoiceAccess.add){
        <button 
        class="btn btn-info-dark btn-wave mx-2 text-white text-capitalize"
        routerLink="create"
        
      >
        <i class="fa-solid fa-plus me-2"></i>Create
      </button>
      }
      <div class="dropdown ms-2">
        <button
          class="btn btn-info-dark text-white btn-wave dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Manage Column
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          @for (column of allColumns; track column) {
            <li>
              @if (
                column.field == "actions" ||
                column.field == "customerName" ||
                column.headerName == "S. No"
              ) {
                <div class="dropdown-item d-none">
                  <input
                    type="checkbox"
                    [checked]="isColumnDisplayed(column)"
                    (change)="toggleColumn(column)"
                    id="{{ column.field }}"
                  />
                  <label for="{{ column.field }}">{{
                    column.headerName
                  }}</label>
                </div>
              } @else {
                <div class="dropdown-item checkbox-container">
                  <input
                    type="checkbox"
                    [checked]="isColumnDisplayed(column)"
                    (change)="toggleColumn(column)"
                    id="{{ column.field }}"
                  />
                  <label for="{{ column.field }}">{{
                    column.headerName
                  }}</label>
                </div>
              }
            </li>
          }
        </ul>
      </div>
    </div>
  </app-page-header>
  @defer {
    <div class="d-flex align-items-center justify-content-center">
      <div class="container-fluid p-0">
        <ag-grid-angular
         #agGrid
          style="width: 100%; height: 76vh !important; padding-bottom: 10px"
          class="ag-theme-alpine"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [animateRows]="true"
          [paginationPageSize]="15"
          [pagination]="true"
          [paginationPageSizeSelector]="paginationPageSizeSelector"
          (paginationChanged)="onPaginationChanged($event)"
          (gridReady)="onGridReady($event)"
          (cellClicked)="getRowId($event)"
        ></ag-grid-angular>
        <div class="table-footer position-relative"></div>
      </div>
    </div>
  } @loading (minimum 1000ms) {
    <app-loader></app-loader>
  }
</div>
