<div class="sale-create  m-4">
  <div class="border-bottom bg-light pb-2">
    <h2 class="formHeading">{{ formHeading }} Quotation</h2>
  </div>
  <div class="form-container d-flex justify-content-center">
    <form [formGroup]="productForm">
      <div class="input-form-container py-3 mb-4 ">
        <div class="form">
          <div class="form-group row">
            <div class="col-6 row pe-0 ms-2">
              <mat-label class="outer-mat-lable col-4 pt-2">Customer Name</mat-label>
              <mat-form-field appearance="outline" class="col-8 py-0 ">
                <mat-select class="py-0" formControlName="customerId" (selectionChange)="onCustomerSelect($event)">
                  <mat-option value="" disabled selected>Select a Customer Name</mat-option>
                  @for (customer of Customers; track customer) {
                  <mat-option [value]="customer.id">{{
                    customer.name
                    }}</mat-option>
                  }
                </mat-select>
                <mat-error class="text-danger">
                  @if (productForm.controls["customerId"].errors?.["required"]) {
                  <span>Customer Name is required.</span>
                  }
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          @if(Address){
          <div class="Address mb-2 ">
            <div class="row  my-2">
              <div class="col-6 text-center ">
                <h4 class="text-primary">Billing Address</h4>
                <p>{{Address.billingAddress}}</p>
              </div>
              <div class="col-6 text-center">
                <h4 class="text-primary">Shipping Address</h4>
                <p>{{Address.shippingAddress}}</p>
              </div>
            </div>
          </div>
          }
          <div class="d-flex justify-content-center">
            <div class="salary-form1 mx-2">
              <div class="form-group row">
                <mat-label class="outer-mat-lable col-4 pt-2">Company</mat-label>
                <mat-form-field appearance="outline" class="col-8 py-0">
                  <mat-select class="py-0" formControlName="companyId" (selectionChange)="onCompanySelect($event)">
                    <mat-option value="" disabled selected>Select a Company Name</mat-option>
                    @for (company of Companies; track company) {
                    <mat-option [value]="company.id">{{
                      company.name
                      }}</mat-option>
                    }
                  </mat-select>
                  <mat-error class="text-danger">
                    @if (productForm.controls["companyId"].errors?.["required"]) {
                    <span>Company is required.</span>
                    }
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="form-group row">
                <mat-label class="outer-mat-lable col-4 pt-2">Branch</mat-label>
                <mat-form-field appearance="outline" class="col-8 py-0">
                  <mat-select class="py-0" formControlName="companyBranchId">
                    <mat-option value="" disabled selected>Select a Branch Name</mat-option>
                    @for (branch of Branches; track branch) {
                    <mat-option [value]="branch.id">{{
                      branch.name
                      }}</mat-option>
                    }
                  </mat-select>
                  <mat-error class="text-danger">
                    @if (productForm.controls["companyBranchId"].errors?.["required"]) {
                    <span>Branch is required.</span>
                    }
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="form-group row">
                <mat-label class="outer-mat-lable col-4 pt-2">Country</mat-label>
                <mat-form-field appearance="outline" class="col-8 py-0">
                  <mat-select class="py-0" formControlName="countryId" (selectionChange)="onCountrySelect($event)">
                    <mat-option value="" disabled selected>Select Country</mat-option>
                    @for (country of Countries; track country) {
                    <mat-option [value]="country.id">{{
                      country.name
                      }}</mat-option>
                    }
                  </mat-select>
                  <mat-error class="text-danger">
                    @if (productForm.controls["countryId"].errors?.["required"]) {
                    <span>Country is required.</span>
                    }
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="form-group row ">
                <mat-label class="outer-mat-lable col-4 pt-2 ">Quotation Number </mat-label>
                <mat-form-field appearance="outline" class="col-8">
                  <input formControlName="quotationNumber" matInput placeholder="Enter Quotation Number" readonly />
                  <mat-error class="text-danger">
                    @if (productForm.controls["quotationNumber"].errors?.["required"]) {
                    <span>Name is required.</span>
                    } @else if (productForm.controls["quotationNumber"].errors?.["pattern"]) {
                    <span>Only alphabetic characters are allowed.</span>
                    }
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group row ">
                <mat-label class="outer-mat-lable col-4 pt-2 ">Sales person </mat-label>
                <mat-form-field appearance="outline" class="col-8">
                  <input formControlName="salesPerson" matInput placeholder="Enter Sales person" />
                  <mat-error class="text-danger">
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="salary-form2 mx-2">
              <!-- <div class="form-group row ">
                <mat-label class="outer-mat-lable col-4 pt-2 ">Reference </mat-label>
                <mat-form-field appearance="outline" class="col-8">
                  <input formControlName="name" matInput placeholder="Enter Reference" />
                </mat-form-field>
              </div> -->
              <div class="form-group row">
                <mat-label class="outer-mat-lable col-4 pt-2">Sales Order Date</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                  <input matInput [matDatepicker]="picker" formControlName="salesOrderDate"
                    placeholder="Enter Sales Order Date" [matDatepickerFilter]="noPastDates" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group row">
                <mat-label class="outer-mat-lable col-4 pt-2">Expected Shipment Date</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                  <input matInput [matDatepicker]="pickerShipment" formControlName="expectedShipmentDate"
                    placeholder="Enter Expected Shipment Date" [matDatepickerFilter]="noPastDates" />
                  <mat-datepicker-toggle matSuffix [for]="pickerShipment"></mat-datepicker-toggle>
                  <mat-datepicker #pickerShipment></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group row">
                <mat-label class="outer-mat-lable col-4 pt-2">Payment Terms</mat-label>
                <mat-form-field appearance="outline" class="col-8 py-0">
                  <mat-select class="py-0" formControlName="paymentTermId">
                    <mat-option value="" disabled selected>Select Payment Terms</mat-option>
                    @for (payment of PaymentTerms; track payment) {
                    <mat-option [value]="payment.id">{{
                      payment.termName
                      }}</mat-option>
                    }
                  </mat-select>
                  <mat-error class="text-danger">
                    @if (productForm.controls["paymentTermId"].errors?.["required"]) {
                    <span>Payment Terms is required.</span>
                    }
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="form-group row ">
                <mat-label class="outer-mat-lable col-4 pt-2 ">Delivery Method </mat-label>
                <mat-form-field appearance="outline" class="col-8">
                  <input formControlName="deliveryMethod" matInput placeholder="Enter Delivery Method" />
                  <mat-error class="text-danger">
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <!-- </div> -->

        <h4 class="fw-bold mb-0">Item Table</h4>
        <div class="container form-group row pe-3 pb-4 mb-4">
          <!-- <table formArrayName="items">
            <thead>
              <tr>
                <th>S. No.</th> 
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody class="table-container ">
              <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                <td>{{ i + 1 }}</td>
                <td>
                  <div class="d-flex justify-content-center align-items-center mt-3">
                    <mat-form-field appearance="outline" class="col-8 py-0">
                      <mat-select formControlName="productId" (selectionChange)="onProductSelect($event, i)">
                        <mat-option value="" disabled>Select Product</mat-option>
                        <mat-option *ngFor="let product of Products" [value]="product.id">{{ product.name
                          }}</mat-option>
                      </mat-select>

                      <mat-error class="text-danger"
                        *ngIf="item.get('productId')?.hasError('required') && item.get('productId')?.touched">
                        Please select product
                      </mat-error>
                    </mat-form-field>
                  </div>
                </td>
                <td><input formControlName="quantity" type="number" class="table-data" min="0"
                    (input)="amountCalculate()" />
                </td>
                <td><input formControlName="rate" type="number" class="table-data" min="0" />
                </td>
                <td>
                  <div class="d-flex">
                    <input formControlName="discount" type="number" class="table-data" min="0"
                      (input)="amountCalculate()" />
                    <select formControlName="discountType" class="table-data mx-2 p-0"
                      style="width: 40px; text-align: center;" (change)="onDiscountTypeChange($event, i)"
                      (click)="setCurrentRowIndex(i)">
                      <option value="rupee">₹</option>
                      <option value="%">%</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-center align-items-center mt-3">
                    <mat-form-field appearance="outline" class="col-8 py-0">
                      <mat-select formControlName="taxId" (selectionChange)="onTaxChange($event, i)">
                        <mat-option value="" disabled>Select Tax</mat-option>
                        <mat-option *ngFor="let tax of Taxes" [value]="tax.id">{{ tax.tax }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </td>
                <td><input formControlName="subTotal" type="number" class="table-data" readonly /></td>
                <td class="text-center">
                  <button (click)="deleteRow(i)" class="btn delete-btn text-danger">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table> -->

          <div class="table-responsive py-4">
            <table formArrayName="items">
              <thead>
                <tr>
                  <th>S. No.</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Rate</th>
                  <th>Discount</th>
                  <th>Tax</th>
                  <th>Amount</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i" (click)="setCurrentRowIndex(i)">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                      <mat-form-field appearance="outline" class="col-8 py-0">
                        <mat-select formControlName="productId" (selectionChange)="onProductSelect($event, i)" placeholder="Select Product">
                          <mat-option value="" disabled>Select Product</mat-option>
                          <mat-option *ngFor="let product of Products" [value]="product.id">{{ product.name }}</mat-option>
                        </mat-select>
                        <mat-error class="text-danger" *ngIf="item.get('productId')?.hasError('required') && item.get('productId')?.touched">
                          Please select product
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </td>
                  <td><input formControlName="quantity" type="number" class="table-data" min="1" (input)="amountCalculate()" /></td>
                  <td><input formControlName="rate" type="number" class="table-data" min="1" /></td>
                  <td>
                    <div class="d-flex">
                      <input formControlName="discount" type="number" class="table-data" min="0" (input)="amountCalculate()" />
                      <select formControlName="discountType" class="table-data mx-2 p-0" style="width: 40px; text-align: center;" 
                        (change)="onDiscountTypeChange($event, i)" (click)="setCurrentRowIndex(i)">
                        <option value="rupee">₹</option>
                        <option value="%">%</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <!-- <div class="d-flex justify-content-center align-items-center mt-3">
                      <mat-form-field appearance="outline" class="col-8 py-0">
                        <mat-select formControlName="taxId" (selectionChange)="onTaxChange($event, i)">
                          <mat-option value="" disabled>Select Tax</mat-option>
                          <mat-option *ngFor="let tax of Taxes" [value]="tax.id">{{ tax.tax }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> -->
                    <div class="d-flex justify-content-center align-items-center mt-3">
                      <mat-form-field appearance="outline" class="col-8 py-0">
                        <mat-select formControlName="taxId" (selectionChange)="onTaxChange($event, i)" placeholder="Select Tax">
                          <mat-option value="" disabled>Select Tax</mat-option>
                          <mat-option *ngFor="let tax of Taxes" [value]="tax.id">{{ tax.tax }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    
                  </td>
                  <td><input formControlName="subTotal" type="number" class="table-data" readonly /></td>
                  <td class="text-center">
                    <button (click)="deleteRow(i)" class="btn delete-btn text-danger">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <!-- <button type="button" class="btn btn-success my-2" (click)="addRow()">Add Row</button> -->
          <div class="add-row my-2 ps-0">
            <button type="button" class="btn btn-light d-flex align-items-center px-3 py-2 shadow-sm rounded"
              (click)="addRow()">
              <div class="text-primary me-2 ">
                <i class="bi bi-plus-circle-fill text-primary"></i>
              </div>
              Add New Row
            </button>
          </div>

          <div class="summary-container ">
            <div class="summary-row">
              <span class="summary-title fw-bold">Sub Total</span>
              <span class="summary-value">{{ calculationDetails.subTotal || 0 }}</span>
            </div>
            <div class="summary-row row">
              <span class="summary-title col-5 fw-bold">Shipping Charges</span>
             <div class="col-6 d-flex">
              <input type="text" placeholder="0.00" class="adjustment-label" formControlName="shippingCharges"
              (input)="onShippingChargesChange($event)" />
              <mat-icon class="mat-icon mx-2  " svgIcon="question"></mat-icon>
            </div>
            <span class="summary-value col-1 text-end">{{ productForm.value.shippingCharges || 0 }}</span>
            </div>

            <div class="summary-row row">
              <span class="summary-title col-5 fw-bold">Adjustment</span>
              <div class="col-6 d-flex">
                <input type="text" placeholder="0.00" class="adjustment-label" formControlName="adjustment"
                (input)="onAdjustmentChange($event)" />
              <i class="fa fa-question-circle tooltip" title="Adjustment charges apply."></i>
            </div>
            <span class="summary-value col-1 text-end">{{ productForm.value.adjustment || 0 }}</span>
            </div>

            <div class="summary-row row">
              @for (tax of calculationDetails.taxes; track $index) {
              <span class="summary-title col-6">{{tax.tax}}</span>
              <ul class="list-unstyled col-6 text-end">
                <li class="text-decoration-none">
                  {{ tax.amount }}
                </li>
              </ul>
              }
            </div>

            <div class="summary-row total-row">
              <span>Total {{countryCurrency}}</span>
              <span class="summary-value fw-bold">{{ calculationDetails.total || 0 }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-btn d-flex align-items-start justify-content-end p-4 ">
        <button class="btn btn-secondary mx-2" type="button" (click)="resetForm()">
          Clear
        </button>
        <button class="btn btn-info-dark " (click)="createUpdate()">
          {{ formHeading }}
        </button>
      </div>
    </form>
  </div>
</div>