.dialog-content {
    min-width: 350px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  
  .btn-light {
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .btn-info-dark {
    background-color: #2e3b64 !important;
    outline: #2e3b64 !important;
    border: #2e3b64;
    color: white;
  }