.close-btn {
    position: absolute;
    top: 0;
    right: 20px;
    background: none;
    border: none;
    color: #6c757d;
    cursor: pointer;
    z-index: 10;
    transition: color 0.2s;
    padding: 8px;
  font-size: 20px;
    &:hover {
      color: #dc3545;
    }
  }