<div class="pdf-viewer" style="position: fixed; inset: 0; overflow: hidden; background: #fff; z-index: 1000; max-width: 100%; max-height: calc(100vh - 0rem);" (keydown)="onKeyDown($event)" tabindex="0">

  <div *ngIf="loading" class="d-flex justify-content-center align-items-center h-100">
    <app-loader></app-loader>
  </div>

  <pdf-viewer class=""
    *ngIf="!loading"
    [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    [fit-to-page]="true"
    [autoresize]="true"
    [show-borders]="false"
    [zoom]="0"
    [show-all]="false"
    [page]="page"
    (after-load-complete)="onPdfLoad($event)"
    style="width: 100%; height: 100%">
  </pdf-viewer>
</div>
