<div mat-dialog-content class="dialog-content px-3 py-2">
  <div class="d-flex">
    <h3 class="fw-bold">Add Pdf</h3>
    <mat-icon class="text-danger float-end pb-2 ms-auto" (click)="cancel()" svgIcon="cross"></mat-icon>
  </div>
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()" class="w-100">
  
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Enter title" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Subtitle</mat-label>
        <input matInput formControlName="subtitle" placeholder="Enter subtitle" />
        <mat-error *ngIf="cardForm.get('subtitle')?.invalid">Subtitle is required</mat-error>
      </mat-form-field>
  
      <!-- Logo Upload -->
      <div class="mb-3">
        <label class="mb-1 fw-semibold">Logo Image</label>
        <input type="file" accept="image/png, image/jpeg, image/jpg" (change)="onImageChange($event)" class="form-control" />
        <img *ngIf="previewImage" [src]="previewImage" alt="Preview" class="preview-img mt-2" />
      </div>
      
      <!-- PDF Upload -->
      <div class="mb-3">
        <label class="mb-1 fw-semibold">PDF File </label>
        <input accept="application/pdf" type="file" (change)="onPdfChange($event)" class="form-control" />
        <img *ngIf="previewImage" [src]="previewImage" alt="Preview" class="preview-img mt-2" />
      </div>
  
      <div mat-dialog-actions align="end" class="dialog-actions mt-4">
        <button type="button" mat-button (click)="clearForm()" class="btn btn-light border rounded-pill me-2">
          Clear
        </button>
        <button mat-flat-button color="primary" type="submit" class="btn btn-primary rounded-pill">
          Save
        </button>
      </div>
  
    </form>
  </div>
  