<div class="marketing">
  <div class="pdf-container">
    <div class=" top-bar">
      <h1 class="page-title fw-medium fs-18 mb-0 text-capitalize">Marketing</h1>
      <div class="d-flex justify-content-between">
        <button class="btn btn-info-dark btn-wave mx-2 text-white text-capitalize" (click)="addPdf()">
          <i class="fa-solid fa-plus me-2"></i>Create New
        </button>
      </div>
    </div>
    <div class="preview-screen d-flex">
      <!-- <div class="mx-2" *ngFor="let card of marketingCards">
        <div class="card-container">
          <div class="card-top">
            <div class="badge-circle">{{ card.id | number: '2.0' }}</div>
          </div>
          <div class="card-content">
            <h4 class="title">{{ card.title }}</h4>
            <p class="subtitle">{{ card.subtitle }}</p>
            <button *ngIf="card.showButton" class="view-btn">View PPT</button>
          </div>
        </div>
      </div> -->
      <div class="row m-5">
        <div class="col-3 d-flex">
          <div class="mx-2" *ngFor="let card of marketingCards">
            <div class="ppt_card">
              <img class="ppt_feature"
                src="https://images.pexels.com/photos/1545743/pexels-photo-1545743.jpeg?cs=srgb&dl=pexels-mayday-1545743.jpg&fm=jpg"
                alt="">
              <div class="detailed">
                <div class="d-flex justify-content-center align-items-center mx-auto"
                  style="background-color: #2E3B64;height: 36px;width: 36px;border-radius: 50%;color: white;font-size: 14px;margin-top: -15px;">
                  01</div>
                <h3 class="mt-3" style="color:rgba(0, 0, 0, 0.92);text-align: center;font-size: 14px;font-weight: 500;">
                  Company
                  Overview </h3>
                <p style="color:rgba(0, 0, 0, 0.72);text-align: center;font-size: 12px;font-weight: 400;">Innovative
                  solutions for
                  evolving needs.
                  solutions for
                  <!-- evolving needs
                          solutions for
                          evolving needs.
                          solutions for -->
                  evolving needs.
                </p>
                <div class="d-flex justify-content-center gap-3 mt-2 interactions">
                  <span class="text-primary">
                    <mat-icon svgIcon="edit"></mat-icon>
                  </span>
                  <button class=""
                    style="background-color: #0D6EFD; color: white;width: 90px;height: 32px;display: flex;justify-content: center;align-items: center;border: none; border-radius: 20px;">
                    View PPT
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
    </div>


    <!-- <div class="nav-arrows">
            <span class="arrow" (click)="previousSlide()">&lt;</span>
            <span class="arrow" (click)="nextSlide()">&gt;</span>
        </div> -->
  </div>
</div>