.dropdown-container .dropdown {
  min-width: 270px;
}
.dropdown-container  {
  position: relative;
  top: -16px;
  left: 0;
}

.report-container{
  position: relative;
  top: 0;
}

.emplooye-dropdown{
  max-width: 300px;
  width: 300px;
}
.date-range-picker{
  position: absolute;
  top: 70px;
  right: 200px;
}
.date-range-picker mat-form-field{
  // width: 300px;
  // max-width: 300px;
}

.main-content .date-range-picker .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 0;
  background: white !important;
}


.mat-mdc-text-field-wrapper {
  width: 100%;
  z-index: 0;
}
@media (max-width: 1200px) {
  .matDatepicker-container {
    max-width: 300px;
  }
}