.custom-multi-select {
  min-width: 300px;
  
  .ng-select-container {
    min-height: 40px;
    max-height: 40px;
    overflow: hidden !important;
    display: flex;
    flex-wrap: nowrap; // Change from wrap to nowrap
    gap: 5px;
    padding: 5px;
    border-radius: 4px;
    align-items: center;

    .ng-value-container {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;

      .ng-value {
        display: inline-flex;
        font-size: 0.9em;
        color: #333;
        background-color: rgb(234.6, 244.68, 255);
        border-radius: 2px;
        padding: 2px 5px;
        margin: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%; // Change from fixed width to 100%
      }

      .ng-placeholder {
        color: #495057;
        font-weight: normal;
      }
    }
  }

  
}

// Add this to hide the default selected items
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  display: none !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-custom {
  display: inline-flex !important;
}

.multiple-select .ng-select-container .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  max-height: 37px !important;
  padding-top: 5px;
  padding-left: 7px;
}