::ng-deep .ag-theme-alpine {
    border-radius: 0 !important;
}
.table-container{
    width: 100%;
}

.btn-info-dark {
  background-color: #2e3b64 !important;
  outline: #2e3b64 !important;
  border: #2e3b64;
  color: white !important;
}
