<div class="main-content m-4">
    
  <mat-icon class="close-icon" style="float:right" (click)="closePopup()">close</mat-icon>
    <div class="border-bottom bg-light pb-2">
      <h2 class="formHeading">{{heading}} Term and condition</h2>
    </div>
  
    <div class="form-container d-flex ">
      <form [formGroup]="businessForm" (ngSubmit)="submitForm()">
        <div class="input-form-container py-3">
          <!-- Business Dropdown -->
         
  
          <!-- Country Dropdown -->
          <div class="form-group ">
            <mat-label class="outer-mat-label col-4 px-1 pt-2">Country</mat-label>
            <mat-form-field appearance="outline" class="col-8">
              <mat-select formControlName="Country" (selectionChange)="checkCountry($event)">
             
                <mat-option *ngFor="let country of countries" [value]="country.value">
                  {{ country.label }}
                </mat-option>
              </mat-select>
              <div *ngIf="iscountryfail" style="color: red; font-size: 12px;">
                Country is required.
              </div>
            </mat-form-field>
          </div>
  
          <!-- Terms & Conditions -->
          <div class="form-group row d-flex" style="justify-content: left;">
            <mat-label class="outer-mat-label col-1 pt-2">T & C</mat-label>
            <div class="col-8">
              
              <quill-editor formControlName="Terms"  [modules]="editorModules"
              theme="snow"></quill-editor>

          
              <mat-error *ngIf="businessForm.controls['Terms'].errors?.['required']&&businessForm.controls['Terms'].touched">
                Terms & Conditions are required.
              </mat-error>
              <mat-error *ngIf="businessForm.controls['Terms'].errors?.['minlength']">
                Minimum 10 characters required.
              </mat-error>
            </div>
          </div>
          
  
       
        </div>
  
        <!-- Form Buttons -->
        <div class="form-btn d-flex align-items-start justify-content-end p-4">
          <button class="btn btn-secondary mx-2" (click)="reset()">Clear</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
  