.custom-multi-select {
  min-width: 300px;
  
  .ng-select-container {
    min-height: 40px;
    max-height: 40px;
    overflow: hidden !important;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    border-radius: 4px;
    align-items: center;

    .ng-value-container {
      flex: 1;
      min-width: 0;

      .ng-value {
        display: inline-flex;
        font-size: 0.9em;
        color: #333;
        background-color: rgb(234.6, 244.68, 255);
        border-radius: 2px;
        padding: 2px 5px;
        margin: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
      }

      .ng-placeholder {
        color: #495057;
        font-weight: normal;
      }
    }
  }

  .custom-select-all {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    font-weight: bold;

    .selected-count {
      font-size: 0.75rem;
      padding: 3px 6px;
      margin-left: auto;
      background-color: #e9ecef;
      border-radius: 10px;
    }
  }

  .ng-dropdown-panel {
    .ng-option {
      display: flex;
      align-items: center;
      padding: 8px 10px;

      &:hover {
        background-color: #f8f9fa;
      }

      input[type="checkbox"] {
        margin-right: 10px;
      }
    }
  }
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: wrap;
  max-height: 36px;
}