<ng-select
  [placeholder]="'Select '+dropdownHeading"
  [items]="transformedDataList"
  [multiple]="true"
  [searchable]="true"
  bindLabel="name"
  bindValue="name"
  groupBy="gender"
  [selectableGroup]="false"
  [closeOnSelect]="iscloseDropdown"
  [(ngModel)]="selectedData"
  (change)="updateAllSelected()">
  
  <!-- Custom "Select All" Checkbox -->
  <ng-template ng-header-tmp>
    <div class="custom-select-all">
      <input type="checkbox" [checked]="allSelected" (change)="allSelected = !allSelected; toggleSelectAll()" />
      <span class="px-2">All {{dropdownHeading}} </span>
    </div>
  </ng-template>

  <!-- Custom Options with Checkboxes -->
  <ng-template ng-option-tmp let-item="item" let-item$="item$">
    <input type="checkbox" [checked]="item$.selected" />
    <span class="px-2"> {{ item.name }}</span>
  </ng-template>

  <!-- Custom selected items template -->
  <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
    <div class="ng-value-container">
      <span *ngIf="items.length === 0">Select {{dropdownHeading}}</span>
      <div *ngIf="items.length > 0" class="selected-items-wrapper">
        <span class="selected-item">{{items[0].name | json}}</span>
        <span *ngIf="items.length > 1" class="plus-count">+{{items.length - 1}}</span>
      </div>
    </div>
  </ng-template>
</ng-select>