.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.table-footer {
  font-size: 14px;
  z-index: 1 !important;
}

.table-footer .row {
  position: absolute;
  width: 60%;
  top: -35px;
  left: 20px;
  z-index: 2;
  //  background-color: rgba(255, 0, 0, 0.493);
}
