<div class="main-content m-4">
    
    
    <div class="border-bottom bg-light pb-2">
      <h2 class="formHeading">{{heading}} Company Branch</h2>
    </div>
  
    <div class="form-container d-flex ">
      <form [formGroup]="companyForm" (ngSubmit)="submitForm()">
        <div class="input-form-container py-3">
          <!-- Business Dropdown -->
         
  
          <!-- Country Dropdown -->
          <div class="form-group row ">
            <mat-label class="outer-mat-label col-4 px-1 pt-2">Company</mat-label>
            <mat-form-field appearance="outline" class="col-8">
              <mat-select formControlName="companyId" (selectionChange)="checkCountry($event)">
             
                <mat-option *ngFor="let country of countries" [value]="country.value">
                  {{ country.label }}
                </mat-option>
              </mat-select>
              <div *ngIf="iscountryfail" style="color: red; font-size: 12px;">
                Company is required.
              </div>
            </mat-form-field>
          </div>
  
          <!-- Terms & Conditions -->
          <div class="form-group row">
              <mat-label class="outer-mat-lable col-4 pt-2">Bank Name</mat-label>
              <mat-form-field appearance="outline" class="col-8">
                <input formControlName="bankName"  matInput placeholder="Enter Bank  Name" />
                <mat-error *ngIf="companyForm.controls['bankName'].hasError('required')">
                   Bank Name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group row">
                <mat-label class="outer-mat-lable col-4 pt-2">Sort Code</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                  <input formControlName="sortCode" appOnlyNumbers matInput placeholder="Enter Sort Code" />
                  <mat-error *ngIf="companyForm.controls['sortCode'].hasError('required')">
                     sort code is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group row">
          <mat-label class="outer-mat-lable col-4 pt-2">swiss Code</mat-label>
          <mat-form-field appearance="outline" class="col-8">
            <input formControlName="swissCode" appOnlyNumbers matInput placeholder="Enter Swiss Code" />
            <mat-error *ngIf="companyForm.controls['swissCode'].hasError('required')">
               Swiss Code is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group row">
            <mat-label class="outer-mat-lable col-4 pt-2">Account Type</mat-label>
            <mat-form-field appearance="outline" class="col-8">
              <input formControlName="accountType" matInput placeholder="Enter Account Type" />
              <mat-error *ngIf="companyForm.controls['accountType'].hasError('required')">
                Account Type is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group row">
            <mat-label class="outer-mat-lable col-4 pt-2">Account Number</mat-label>
            <mat-form-field appearance="outline" class="col-8">
              <input formControlName="accountNumber" appOnlyNumbers matInput placeholder="Enter Account Number " />
              <mat-error *ngIf="companyForm.controls['accountNumber'].hasError('required')">
                Account Number is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group row">
            <mat-label class="outer-mat-lable col-4 pt-2">IFSC Code</mat-label>
            <mat-form-field appearance="outline" class="col-8">
              <input formControlName="ifscCode"  matInput placeholder="Enter ifsc code" />
              <mat-error *ngIf="companyForm.controls['ifscCode'].hasError('required')">
                ifsc code  is required
              </mat-error>
            </mat-form-field>
          </div>
       
        
          <div style="display: flex; align-items: center;">
            <mat-label class="outer-mat-label col-4 p-2">Is Primary</mat-label>
            <mat-slide-toggle formControlName="isPrimary">Active</mat-slide-toggle>
          </div>
       
        </div>
  
        <!-- Form Buttons -->
        <div class="form-btn d-flex align-items-start justify-content-end p-4">
          <button class="btn btn-secondary mx-2" (click)="reset()">Clear</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
  