<div class="main-content m-4">
    
    
      <div class="border-bottom bg-light pb-2">
        <h2 class="formHeading">{{heading}} Company Profile</h2>
      </div>
    
      <div class="form-container d-flex ">
        <form [formGroup]="companyForm" (ngSubmit)="submitForm()">
          <div class="input-form-container py-3">
            <!-- Business Dropdown -->
           
    
            <!-- Country Dropdown -->
            <div class="form-group row ">
              <mat-label class="outer-mat-label col-4 px-1 pt-2">Country</mat-label>
              <mat-form-field appearance="outline" class="col-8">
                <mat-select formControlName="Country" (selectionChange)="checkCountry($event)">
               
                  <mat-option *ngFor="let country of countries" [value]="country.value">
                    {{ country.label }}
                  </mat-option>
                </mat-select>
                <div *ngIf="iscountryfail" style="color: red; font-size: 12px;">
                  Country is required.
                </div>
              </mat-form-field>
            </div>
    
            <!-- Terms & Conditions -->
            <div class="form-group row">
                <mat-label class="outer-mat-lable col-4 pt-2">Company Name</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                  <input formControlName="name" matInput placeholder="Enter Company Name" />
                  <mat-error *ngIf="companyForm.controls['name'].hasError('required')">
                    Company Name is required
                  </mat-error>
                </mat-form-field>
              </div>
                <div class="form-group row">
            <mat-label class="outer-mat-lable col-4 pt-2">Headquater</mat-label>
            <mat-form-field appearance="outline" class="col-8">
              <input formControlName="headquater" matInput placeholder="Enter Headquater Name" />
              <mat-error *ngIf="companyForm.controls['headquater'].hasError('required')">
                Headquater is required
              </mat-error>
            </mat-form-field>
          </div>
          <div style="display: flex; align-items: center;">
            <mat-label class="outer-mat-label col-4 p-2">Is Fixed</mat-label>
            <mat-slide-toggle formControlName="IsActive">Active</mat-slide-toggle>
          </div>
    
         
          </div>
    
          <!-- Form Buttons -->
          <div class="form-btn d-flex align-items-start justify-content-end p-4">
            <button class="btn btn-secondary mx-2" (click)="reset()">Clear</button>
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
    